html {
    background: #eee;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 5em 2em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
}

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}
#actions #fill {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

dl#keyword_field {
	display: inline-block;
}

dl#keyword_field dt {
	display: none;
}

dl#category_field {
	display: inline-block;
}

dl#category_field dt {
	display: none;
}

dl#category_field dd.info {
	display: none;
}

dl#query_field {
	display: inline-block;
	width: 100%;
}

dl#query_field dt {
	display: none;
}

dd#query_field {
	display: inline-block;
	width: 100%;
	margin-right: 10px;
}

textarea#query {
    width: 100%;
    height: auto;
}

dl#sort_field {
	display: inline-block;
}

dl#sort_field dt {
	display: none;
}

form {
    margin-bottom: 0px;
}

div#result-count {
    display: inline-block;
    float: right;
    margin-top: 18px;
}

div.footer {
	margin-top: 10px;
	margin-left: 30px;
}

.borderless, .borderless td, .borderless th {
    border:none;
    padding:8px;
}
